<div class="container">
    <h2>Products</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let p of products">
                <tr>
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <button (click)="addProduct()" class="btn btn-success" >Add Product</button>
</div>
